<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="BloggerCMS" />
    <meta name="description" content="{{settings.tagline}}">
    <meta name="author" content="{{settings.author}}">

    <title>{{#post.title}}{{.}} :: {{/post.title}}{{#page.title}}{{.}} :: {{/page.title}}{{settings.title}}</title>

    <!-- rss feed url -->
    <link rel="alternate" type="application/rss+xml" title="{{settings.title}}" href="{{settings.url}}/rss.xml"/>

    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="shortcut icon" href="{{settings.url}}/favicon.ico"/>

    <!-- Bootstrap CSS file -->
    <link href="{{settings.url}}/js/plugins/bootstrap-3.0.3/css/{{settings.theme}}" rel="stylesheet"/>
    <link href="{{settings.url}}/js/plugins/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{settings.url}}/js/plugins/bootstrap-3.0.3/plugins/social-buttons.css" rel="stylesheet"/>

    <!-- syntax highlighter css file -->
    <link href="{{settings.url}}/js/plugins/highlight/styles/github.css" rel="stylesheet"/>

    <!-- lightbox for images -->
    <link href="{{settings.url}}/js/plugins/lightbox/ekko-lightbox.min.css" rel="stylesheet"/>

    <!-- blog custom CSS file -->
    <link href="{{settings.url}}/css/style.css" rel="stylesheet"/>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-75855204-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-75855204-1');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WZR2M45');</script>
<!-- End Google Tag Manager -->

<!-- Start Google AdSense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4896769256137556"
     crossorigin="anonymous"></script>
<!-- End Google AdSense  -->
</head>