{{> head}}
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZR2M45"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{{> nav}}

<div class="container">
    <div class="row">
        <div class="col-md-8 main-content">
            {{#posts}}
                <h3><a href="{{settings.url}}/post/{{slug}}">{{title}}</a></h3>
                <div class="date"><span class="glyphicon glyphicon-time"></span> {{dated}}</div>
            {{/posts}}
        </div>

        {{> sidebar}}
    </div>
</div>

{{> footer}}